<aside>
    file info
</aside>
<div class="info">
    <div class="property">
        <span class="name"><u>id</u>:</span><span class="value">{{id}}</span>
    </div>
    <div class="property">
        <span class="name"><u>name</u>:</span><span class="value">{{name}}</span>
    </div>
    <div class="property">
        <span class="name"><u>path</u>:</span><span class="value">{{path}}</span>
    </div>
    <div class="property">
        <span class="name"><u>size</u>:</span><span class="value">{{size}}</span>
    </div>
    <div class="property">
        <span class="name"><u>type</u>:</span><span class="value">{{type}}</span>
    </div>
    <div class="property">
        <span class="name"><u>savedate</u>:</span><span class="value">{{savedate}}</span>
    </div>
</div>